---
const cards = [
  {
    title: "Total Kredit",
    subtitle: "Total Kredit",
    image: "/images/totalkredit.webp",
  },
  {
    title: "Ingen Vinder Alene",
    subtitle: "DIF & Team Danmark",
    image: "/images/iva.webp",
  },
  {
    title: "Ung Med OCD",
    subtitle: "OCD-foreningen",
    description:
      "Denne kampagne skaber opmærksomhed om unges oplevelser med OCD og fremmer åbenhed om psykisk sundhed. Den opfordrer til at bryde tabuer og søge hjælp.",
    image: "/images/ocd.webp",
  },
  {
    title: "Danmark After dark (DAD)",
    subtitle: "Nationalmuséet",
    image: "/images/dad.webp",
  },
  {
    title: "Stem Sammen 2024",
    subtitle: "Folketinget",
    image: "/images/stemsammen.webp",
  },
  {
    title: "Salling Group x Ingen Vinder Alene",
    subtitle: "Salling Group (Netto, Bilka, Føtex)",
    image: "/images/sallingxiva.webp",
  },
  {
    title: "Madværk",
    subtitle: "Madværk",
    image: "/images/madvaerk.webp",
  },
  {
    title: "Kvindelige Rollemodeller",
    subtitle: "DI (Dansk Industri)",
    image: "/images/di.webp",
  },
  {
    title: "Total Kredit x DBU Fodboldskole",
    subtitle: "Total Kredit",
    image: "/images/totalkredit2.webp",
  },
  {
    title: "Spørg Mere",
    subtitle: "Psykiatrifonden & Ole Kirk's Fond",
    image: "/images/psykiatrifonden.webp",
  },
  {
    title: "Topps Match Attax",
    subtitle: "Proxy & Topps",
    image: "/images/proxy.webp",
  },
  {
    title: "RED reach",
    subtitle: "RED - center for æreskrænkelser",
    image: "/images/red.webp",
  },
  {
    title: "En forening til forskel",
    subtitle: "Forenet Kredit",
    image: "/images/forenetkredit.webp",
  },
  {
    title: "Claim your voice",
    subtitle: "Lenovo",
    image: "/images/lenovo.webp",
  },
  {
    title: "Keepers",
    subtitle: "Keepers",
    image: "/images/keepers.webp",
  },
  {
    title: "Danish Crown x Ingen Vinder Alene",
    subtitle: "Danish Crown",
    image: "/images/danishcrown.webp",
  },
  {
    title: "Santa Maria x Le Creuset",
    subtitle: "Santa Maria",
    image: "/images/santamaria.webp",
  },
  {
    title: "#RigtigeFans",
    subtitle: "3F",
    image: "/images/3f.webp",
  },
  {
    title: "Foodora - Bare fordi",
    subtitle: "Foodora",
    image: "/images/foodora.webp",
  },
  {
    title: "Under the Influence of Music",
    subtitle: "Sundhedsstyrelsen",
    image: "/images/undertheinfluence.webp",
  },
  {
    title: "Tracie",
    subtitle: "Tracie",
    image: "/images/tracie.webp",
  },
  {
    title: "Forenet for fodbolden",
    subtitle: "Forenet Kredit",
    image: "/images/forenetkredit3.webp",
  },
  {
    title: "Alle har en hemmelighed",
    subtitle: "Datatilsynet",
    image: "/images/datatilsynet.webp",
  },
  {
    title: "Fremtidens Trænere",
    subtitle: "Forenet Kredit",
    image: "/images/forenetkredit2.webp",
  },
  {
    title: "Diskriminationslinjen",
    subtitle: "Institut for menneskerettigheder",
    image: "/images/diskriminationslinjen.webp",
  },
  {
    title: "Funko",
    subtitle: "Proxy",
    image: "/images/proxyxfunko.webp",
  },
  {
    title: "Ingen Vinder Alene",
    subtitle: "Sport One",
    image: "/images/iva2.webp",
  },
  {
    title: "Girl's Legion 2022",
    subtitle: "Lenovo",
    image: "/images/girlslegion.webp",
  },
  {
    title: "OL/PL Tokyo 2021",
    subtitle: "DIF & Team Danmark",
    image: "/images/olpl.webp",
  },
  {
    title: "Kærlighed til fællesskabet",
    subtitle: "Hus Forbi",
    image: "/images/husforbi.webp",
  },
  {
    title: "Goo Academy",
    subtitle: "Proxy",
    image: "/images/proxy3.webp",
  },
  {
    title: "Vi deler overskuddet",
    subtitle: "Forenet Kredit",
    image: "/images/forenetkredit4.webp",
  },
  {
    title: "Little Live Pets",
    subtitle: "Proxy",
    image: "/images/proxy4.webp",
  },
  {
    title: "Alle har ret til menneskerettigheder",
    subtitle: "Menneskerettighedsalliancen",
    image: "/images/menneskerettighedsalliancen.webp",
  },
  {
    title: "Tradekampagne 2022",
    subtitle: "Santa Maria",
    image: "/images/santamaria2.webp",
  },
  {
    title: "Pengeuge",
    subtitle: "Finans Danmark",
    image: "/images/finansdanmark.webp",
  },
  {
    title: "Sabaah",
    subtitle: "Sabaah",
    image: "/images/sabaah.webp",
  },
  {
    title: "Enter the Gamer",
    subtitle: "Lenovo",
    image: "/images/enterthegamer.webp",
  },
  {
    title: "Det hele menneske",
    subtitle: "LGBT+ Danmark",
    image: "/images/lgbt.webp",
  },
  {
    title: "Madglade klimatips",
    subtitle: "Miljø- & fødevaremsministeriet",
    image: "/images/klimatips.webp",
  },
  {
    title: "Endelig Taco-Tirsdag",
    subtitle: "Santa Maria",
    image: "/images/santamaria3.webp",
  },
  {
    title: "En som mig",
    subtitle: "Bedre psykiatri",
    image: "/images/bedrepsykiatri.webp",
  },
  {
    title: "F4rmor",
    subtitle: "Lenovo",
    image: "/images/f4rmor.webp",
  },
  {
    title: "Corona - mental sundhed",
    subtitle: "Sundhedsstyrelsen",
    image: "/images/covid19.webp",
  },
  {
    title: "Er i klar?",
    subtitle: "DIF",
    image: "/images/eriklar.webp",
  },
  {
    title: "Lenovo Yoga Campaigns 2019/2020",
    subtitle: "Lenovo",
    image: "/images/lenovoyoga.webp",
  },
  {
    title: "Når lokummet brænder",
    subtitle: "ASE",
    image: "/images/ase.webp",
  },
  {
    title: "Livet er ikke det samme uden højskolerne",
    subtitle: "Højskolerne",
    image: "/images/hoejskolerne.webp",
  },
  {
    title: "Plastic Fantastic",
    subtitle: "COOP",
    image: "/images/plasticfantastic.webp",
  },
  {
    title: "Sundhed.dk",
    subtitle: "Sundhed.dk",
    image: "/images/sundheddk.webp",
  },
  {
    title: "Disenchantment Does Denmark",
    subtitle: "Netflix",
    image: "/images/netflixdisenchantment.webp",
  },
  {
    title: "Vi er Ældre-sagen",
    subtitle: "Ældre-sagen",
    image: "/images/aeldresagen.webp",
  },
  {
    title: "Vi stiller spørgsmål",
    subtitle: "HTX Roskilde",
    image: "/images/htxroskilde.webp",
  },
  {
    title: "Maniac is a matter of perception",
    subtitle: "Netflix",
    image: "/images/netflixmaniac.webp",
  },
  {
    title: "Girl's Legion",
    subtitle: "Lenovo",
    image: "/images/girlslegion2.webp",
  },
  {
    title: "There is something out there..",
    subtitle: "Kilroy",
    image: "/images/kilroy.webp",
  },
  {
    title: "Få råd til lidt mere",
    subtitle: "Ejner Hessel",
    image: "/images/ejnerhessel.webp",
  },
  {
    title: "Sandheden om sex",
    subtitle: "Sundhedsstyrelsen",
    image: "/images/sundhedsstyrelsen.webp",
  },
  {
    title: "Er du sikker?",
    subtitle: "LendMe",
    image: "/images/lendme.webp",
  },
  {
    title: "For godt til at være sandt?",
    subtitle: "Sikkerhedsstyrelsen",
    image: "/images/sikkerhedsstyrelsen.webp",
  },
  {
    title: "Beat the microbead",
    subtitle: "Plastic Change",
    image: "/images/plasticchange.webp",
  },
  {
    title: "Kære bedstefar",
    subtitle: "Kræftens Bekæmpelse",
    image: "/images/kraeftensbekaempelse.webp",
  },
  {
    title: "Kun med kondom",
    subtitle: "Sundhedsstyrelsen",
    image: "/images/sundhedsstyrelsen2.webp",
  },
];

import Button from "./Button.astro";
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6 col-span-12">
  {
    cards.map((card) => (
      <div class="cards flex flex-col max-w-7xl rounded-sm overflow-hidden shadow-drop25 bg-gray-100 hover:-translate-y-1 transition-transform duration-300 h-full">
        <img src={card.image} alt={card.title} class="w-full h-[350px] object-cover" />
        <div class="p-6 flex-grow">
          <h4>{card.title}</h4>
          <p class="bold text-gray-700 mt-2">{card.subtitle}</p>
        </div>
        <div class="btn_container p-4 flex justify-start mt-auto">
          <a href={`/${encodeURIComponent(card.title)}`} class="w-full">
            <Button variant="primary" size="small">
              Se mere
            </Button>
          </a>
        </div>
      </div>
    ))
  }
</div>

<script>
  import { inView } from "motion";

  /* InView Animations for Each Card with Delay */
  const cards = document.querySelectorAll(".cards");

  cards.forEach((card, index) => {
    inView(card, () => {
      card.classList.add("animate__animated", "animate__fadeInUp");
      card.style.animationDelay = `${index * 0.1}s`; // Delay each card by 0.2s
    });
  });
</script>
