---
const cards = await fetch("https://iwqejxdoyvguvkbjlqrq.supabase.co/rest/v1/listview_cards", {
  method: "GET",
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml3cWVqeGRveXZndXZrYmpscXJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzk5MDgyMTksImV4cCI6MjA1NTQ4NDIxOX0.uGOrCj2BHaecpyauDJEjv-iZfytL2pUg0wVzj8YLsN0",
  },
}).then((res) => res.json());

cards.map((card) => {
  return {
    title: card.title,
    subtitle: card.subtitle,
    image: card.image,
    type: card.type,
    group: card.group,
    media: card.media,
    slug: card.slug,
  };
});

import Button from "./Button.astro";
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 col-span-12">
  {
    cards
      .filter((c) => c.slug !== cards.slug)
      .map((card) => (
        <a href={`/${card.slug}`} class="hover:-translate-y-1 transition-transform duration-300 ease-in-out">
          <div class="cards flex flex-col max-w-7xl rounded-sm overflow-hidden shadow-drop25 bg-gray-100 h-full">
            <img src={card.image} alt={card.title} class="w-full h-[350px] object-cover" />
            <div class="p-6 flex-grow">
              <h4>{card.title}</h4>
              <p class="bold text-gray-700 mt-2">{card.subtitle}</p>
            </div>
            <div class="btn_container p-4 flex justify-start mt-auto">
              <Button variant="primary" size="small">
                Se mere
              </Button>
            </div>
          </div>
        </a>
      ))
  }
</div>

<script>
  import { inView } from "motion";

  /* InView Animations for Each Card with Delay */
  const cards = document.querySelectorAll(".cards");

  cards.forEach((card, index) => {
    inView(card, () => {
      card.classList.add("animate__animated", "animate__fadeInUp");
      card.style.animationDelay = `${index * 0.2}s`; // Delay each card by 0.2s
    });
  });
</script>
